@font-face {
    font-family: "Impact-Font";
    src: url("../fonts/impact.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
    font-family: Impact-Font;
}

html {
    background-color: #242424;
}

/*-------------------- Navbar --------------------*/
.navbar {
    align-content: center;
    background-color: #fa6128;
    height: 50px;
    font-size: large;
}
.navbar .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-item a {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}
.navbar button {
    border: none;
    --bs-focus-ring-color: rgba(0, 0, 0, 0);
}
.navbar button:active {
    background-color: #0000000c;
}
#Logo:hover {
    transform: scale(1.1);
}
#Menu:hover {
    transform: scale(1.1);
}
.nav-item a:hover {
    color: #fa6128;
    background-color: white;
    border-radius: 5px;
}
/*-------------------- Navbar --------------------*/
/*-------------------- Carrousel --------------------*/
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
.carousel-caption h5 {
    font-size: 3.5em;
}
.carousel-caption p {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.9);
}
/*-------------------- Carrousel --------------------*/

@media (max-width: 767px) {
    /*-------------------- Navbar --------------------*/
    .navbar {
        height: auto;
        font-size: x-large;
    }
    .nav-item {
        border-radius: 5px;
        text-align: center;
        background-color: #0000000c;
        padding: 5px;
        margin-bottom: 5px;
    }
    .nav-item a {
        padding-left: 20%;
        padding-right: 20%;
    }
    /*-------------------- Navbar --------------------*/
    /*-------------------- Carrousel --------------------*/
    .carousel-caption h5 {
        font-size: 1.2rem;
    }
    .carousel-caption p {
        font-size: 1rem;
    }
    /*-------------------- Carrousel --------------------*/
}
