/*-------------------- Generales --------------------*/
@font-face {
    font-family: "Impact-Font";
    src: url("../fonts/impact.ttf") format("truetype");
}
* {
    font-family: Impact-Font;
}
html {
    background-color: #242424;
}
.titulo {
    font-size: 2rem;
}
.subtitulo1 {
    font-size: 1.4rem;
}
.subtitulo2 {
    font-size: 1.2rem;
}
.texto {
    font-size: 1rem;
}
/*-------------------- Generales --------------------*/
/*-------------------- Navbar --------------------*/
header {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar {
    align-content: center;
    background: linear-gradient(to right, #ff692d, #ff8b33);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    height: 50px;
}
.navbar .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-item a {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}
.navbar button {
    border: none;
    --bs-focus-ring-color: transparent;
}
.navbar button:active {
    transform: scale(0.8);
}
#Logo:hover {
    transform: scale(1.1);
}
#Menu:hover {
    transform: scale(1.1);
}
.nav-item a:hover {
    color: #ff692d;
    background-color: white;
    border-radius: 5px;
}
/*-------------------- Navbar --------------------*/
/*-------------------- Bienvenida --------------------*/
.bienvenida {
    display: flex;
    background-color: #242424;
    padding-top: 40px;
}
.bienvenida div {
    display: block;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bienvenida .img {
    padding-left: 80px;
    padding-right: 20px;
}
.bienvenida .text {
    padding-left: 20px;
    padding-right: 80px;
}
.bienvenida img {
    height: 20rem;
}
.bienvenida h4 {
    text-align: justify;
}
/*-------------------- Bienvenida --------------------*/
/*-------------------- Planes --------------------*/
.planes {
    background-color: #242424;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.planes img {
    height: 8rem;
}
.planes div {
    background: linear-gradient(to bottom, #ff692d, #ff8b33);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}
.divisa {
    display: flex;
    justify-content: center;
}
.form-select {
    width: 5rem !important;
    height: fit-content !important;
    color: #ff692d !important;
}
.planes select {
    border: none;
    --bs-focus-ring-color: transparent;
}
.planes option::select {
    background-color: #ff692d;
}
.precios {
    background-color: #242424;
    padding-left: 20px;
    padding-right: 20px;
}
.precios .card {
    border: solid 2px #ff8b33 !important;
    margin-bottom: 40px;
}
.precios .card .card-header {
    background: linear-gradient(to right, #ff692d, #ff8b33);
    color: white;
}
.precios .card .card-body {
    height: 100%;
    background-color: #191919;
    color: white;
}
.precios .card .card-title {
    color: #ff8b33;
}
.precios .card small {
    color: #fda663;
}
.precios .card button {
    background: linear-gradient(to bottom, #ff692d, #ff8b33);
    color: white;
    border: none;
}
.precios .card button:active {
    transform: scale(0.95);
}
/*-------------------- Planes --------------------*/
/*-------------------- Carrousel --------------------*/
.carrousel-fondo {
    background-color: #242424;
}
.carousel {
    padding-left: 20px;
    padding-right: 20px;
}
.carousel-inner {
    border-radius: 10px;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 0px !important;
    height: fit-content !important;
}
.carousel-caption p {
    margin-bottom: 7px;
}
/*-------------------- Carrousel --------------------*/
/*-------------------- Demo --------------------*/
.demo-fondo {
    background-color: #242424;
    padding-top: 40px;
}
.demo {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.demo div {
    align-items: center;
    color: white;
}
.demo img {
    height: 20rem;
    padding-left: 20px;
    padding-right: 40px;
}
.demo .text {
    padding-left: 40px;
    padding-right: 20px;
}
.demo button {
    background: linear-gradient(to left, #f1d294, #ff991f);
    animation: attractive-background 1s infinite;
    color: #191919 !important;
    border: none;
}
.demo button:hover {
    animation-play-state: paused;
    background-color: #f1d294;
    color: #191919 !important;
}
.demo button:active {
    transform: scale(0.95);
    background: linear-gradient(to left, #f1d294, #ff991f);
}
@keyframes attractive-background {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.05;
    }
    100% {
        scale: 1;
    }
}
/*-------------------- Demo --------------------*/
/*-------------------- Descargas --------------------*/
.directo {
    background: linear-gradient(to top, #12c921, #00d40b) !important;
}
.onedrive {
    background: linear-gradient(to top, #1490df, #0078d4) !important;
}
.descargas {
    background-color: #242424;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.descargas img {
    height: 8rem;
}
.descargas div {
    background: linear-gradient(to bottom, #12c921, #00d40b);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
}
.descargas-card {
    background-color: #242424;
    padding-left: 20px;
    padding-right: 20px;
}
.descargas-card .card {
    border: solid 2px #00d40b !important;
    margin-bottom: 40px;
}
.descargas-card .card .card-header {
    background: linear-gradient(to right, #12c921, #00d40b);
    color: white;
}
.descargas-card .card .card-body {
    height: 100%;
    background-color: #191919;
    color: white;
}
.descargas-card .card button {
    background: linear-gradient(to bottom, #12c921, #00d40b);
    color: white;
    border: none;
}
.descargas-card .card button:active {
    transform: scale(0.95);
}
/*-------------------- Descargas --------------------*/

/*---------------------------------------- Dimensiones ----------------------------------------*/
@media (max-width: 1366px) {
    /*-------------------- Bienvenida --------------------*/
    .bienvenida img {
        height: 15rem;
    }
    .bienvenida .img {
        padding-left: 40px;
        padding-right: 20px;
    }
    .bienvenida .text {
        padding-left: 20px;
        padding-right: 40px;
    }
    /*-------------------- Bienvenida --------------------*/
    /*-------------------- Inicio --------------------*/
    .inicio img {
        height: 6rem;
    }
    /*-------------------- Inicio --------------------*/
}
@media (max-width: 767px) {
    /*-------------------- Generales --------------------*/
    .titulo {
        font-size: 1.5rem;
    }
    .subtitulo1 {
        font-size: 1.3rem;
    }
    .subtitulo2 {
        font-size: 1.1rem;
    }
    .texto {
        font-size: 1rem;
    }
    /*-------------------- Generales --------------------*/
    /*-------------------- Navbar --------------------*/
    .navbar {
        height: auto;
    }
    .nav-item {
        background-color: rgba(255, 255, 255, 0.12);
        border-radius: 6px;
        text-align: center;
        padding: 5px;
        margin-bottom: 6px;
    }
    .nav-item a {
        padding-left: calc(50% - 2.9rem);
        padding-right: calc(50% - 2.9rem);
    }
    .nav-item:hover {
        background-color: white;
    }
    /*-------------------- Navbar --------------------*/
    /*-------------------- Bienvenida --------------------*/
    .bienvenida {
        display: block;
        padding-top: 20px;
    }
    .bienvenida div {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .bienvenida .img {
        padding-left: 30px;
        padding-right: 30px;
    }
    .bienvenida .text {
        padding-left: 30px;
        padding-right: 30px;
    }
    .bienvenida img {
        height: 11rem;
    }
    /*-------------------- Bienvenida --------------------*/
    /*-------------------- Planes --------------------*/
    .planes {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .planes img {
        height: 4.5rem;
    }
    .planes div {
        padding: 20px;
    }
    .precios .card {
        margin-bottom: 20px;
    }
    /*-------------------- Planes --------------------*/
    /*-------------------- Demo --------------------*/
    .demo-fondo {
        padding-top: 20px;
    }
    .demo {
        display: block;
        text-align: center;
    }
    .demo img {
        height: 11rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    .demo .text {
        padding-left: 20px;
        padding-right: 20px;
    }
    .demo button {
        font-size: large;
    }
    /*-------------------- Demo --------------------*/
    /*-------------------- Carrousel --------------------*/
    .carousel-caption p {
        margin-bottom: 0px;
    }
    .carousel-caption #esconder {
        display: none;
    }
    /*-------------------- Carrousel --------------------*/
    /*-------------------- Descargas --------------------*/
    .descargas img {
        height: 4.5rem;
    }
    .descargas div {
        padding: 20px;
    }
    .descargas {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .descargas-card .card {
        margin-bottom: 20px;
    }
    /*-------------------- Descargas --------------------*/
}
/*---------------------------------------- Dimensiones ----------------------------------------*/
